<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/boardWrite.js"></script>
    <link rel="stylesheet" href="/boardWrite.css">
</head>
<body>
<div class="container">
    <div>
        제목 : <input type="text" id="title" value="">
    </div>
    <div>
        작성자 : <input type="text" id="writer" value="">
    </div>
    <div>
        내용 : <input type="text" id="content" value="">
    </div>
    <div>
        <input type="submit" id="submitBtn" value="전송">
    </div>
</div>
</body>
</html>
