<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.table.project.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="com.table.project.model.BoardDTO">
        insert into board (title, content, writer, dow) values (#{title}, #{content}, #{writer}, NOW())
    </insert>

    <select id="getBoard" resultType="com.table.project.model.BoardDTO">
        select * from board order by dow desc
    </select>

    <select id="getBoardDetail" parameterType="int" resultType="com.table.project.model.BoardDTO">
        select * from board where boardId = #{boardId}
    </select>
</mapper>